<!DOCTYPE html>
<html>
{%load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'korisnik/registration/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  'korisnik/registration/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static  'korisnik/registration/css/styles.css' %}">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post" action="{% url 'korisnik:helpRegister'%}">
                {% csrf_token %}
                <h2 class="text-center"><strong>Kreiraj</strong> nalog.</h2>
                <div class="form-group"><input class="form-control" type="text" name="fname" placeholder="Ime"></div>
                 <div class="form-group">	<input class="form-control" type="text" name="lname" placeholder="Prezime"></div>
                <div class="form-group"> <input class="form-control" type="text" name="username" placeholder="Korisnicko ime"></div>
                <div
                    class="form-group"><input class="form-control" type="password" name="pwd" placeholder="Lozinka"></div>
        <div class="form-group"><input class="form-control" type="password" name="pwd-repeat" placeholder="Potvrdi lozinku"></div>
        	<div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registruj se</button></div><a class="already" href="#">Vec imate nalog? Prijavite se ovde</a></form>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>